.productCardWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 6px;
}

.productCardWrapper:hover {
  box-shadow: 0 2px 10px hsl(0deg, 0%, 0%, 0.35);
}

.productCardWrapper:hover .addToCart {
  display: block;
}

.productCard {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 10px;
  position: relative;
}

.imageWrapper {
  flex: 5;
  display: flex;
  align-items: center;
}

.productCardImage {
  max-width: 210px;
  max-height: 280px;
}

.detailsWrapper {
  width: 220px;
  flex: 1;

  position: relative;
}

.productTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-bottom: 1em;

  font-size: 1.1rem;
  font-weight: 600;
}

.rating {
  width: min-content;
  padding: 5px 10px;
  display: flex;
  gap: 10px;

  font-weight: 600;
  font-size: 14px;

  background-color: hsla(0, 0%, 100%, 0.7);

  position: absolute;
  left: 0;
  top: 0;
  transform: translate(10%, -120%);
}

.addToCart {
  display: none;
  background-color: #fff;
  width: 95%;
  padding: 10px 5px;
  margin: auto;

  border: 2px solid rgb(221, 221, 221);

  position: absolute;
  bottom: 0;
  transform: translate(2.5%, -75%);

  cursor: pointer;
}

.addToCart button {
  width: 100%;
  background: transparent;
  border: none;

  font-weight: 700;

  text-transform: uppercase;
  cursor: inherit;
}
